*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin-bottom: 5vh;
}
.players{
    height: 35vh;
}
main, .players{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.monster, .player{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 30vw;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px gray;
}

.health{
    height: 4vh;
    width: 25vw;
    border: 0.5px solid black;
}

.health-bar{
    height: 100%;
    background-color: green;
}

.buttons{
    display: flex;
    width: 25vw;
    padding: 1vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    margin: 10px;
    padding: 10px;
    width: 8vw;
    border-radius: 5px;
    background-color: brown;
    color:whitesmoke;

}  

.game-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    width: 30vw;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px gray;
}

#restart-button{
    display: none;

}